<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Contenido curricular</title>
</head>
<body>
<header th:replace="layout/indexLayout :: header"></header>
<div class="col-md-6 offset-md-3">
    <h1>Lista de Curriculos</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">
                    Codigo
                </th>
                <th scope="col">
                    Pensum
                </th>
                <th scope="col">
                    Estado
                </th>
                <th scope="col">
                    Malla
                </th>
                <th scope="col">
                    Tipo
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${items}">
                <td th:text="${item.codigo}"></td>
                <td><button th:if="${!item.getEnlace64.isEmpty()}" type="button" class="btn btn-link" th:attr="onclick=|actualizarPDF('${item.getEnlace64()}')|"><i class="bi bi-eye"></i></button></td>
                <td th:text="${item.estado}"></td>
                <td>
                    <button th:if="${!item.getMalla64.isEmpty()}" type="button" class="btn btn-link" th:attr="onclick=|actualizarPDF('${item.getMalla64()}')|">
                        <i class="bi bi-eye"></i>
                    </button>
                </td>
                <td th:text="${item.tipo}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <iframe id="framePDF" class="mx-auto"
            src="https://play-lh.googleusercontent.com/9XKD5S7rwQ6FiPXSyp9SzLXfIue88ntf9sJ9K250IuHTL7pmn2-ZB0sngAX4A2Bw4w"
            style="width:100%; height:600px;" frameborder="0"></iframe>
</div>
<footer th:replace="layout/indexLayout :: footer"></footer>
<script>
  function actualizarPDF(enlace = "") {
    var iframe = document.getElementById("framePDF");
    iframe.setAttribute("src", enlace);
    console.log(enlace);
  }
</script>

</body>
</html>