<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Malla</title>

</head>
<body>

<header th:replace="layout/indexLayout :: header"></header>
<div>
    <h1 class="titulo">Malla Curricular Programa Ingeniería de Sistemas</h1>
</div>


<section class="flex">


    <div class="cajaS">
        <h1>Semestre</h1>
    </div>
    <div class="cajaAzul1">
        Ciencias Basicas

    </div>

    <div class="cajaRosa1">
        Ciencias Basicas Aplicadas
    </div>

    <div class="cajaAmarilla1">
        Profecional Especifica
    </div>

    <div class="cajaVerde1">
        Sociohumanistica

    </div>

    <div class="cajaHu1">
        Electivas Sociohumanisticas

    </div>

    <div class="cajaPro1">
        Electivas Profecionales
    </div>

    <div class="cajaC">
        <h2>Total Creditos
            <br>

        </h2>
    </div>

    <div class="cajaS">
        <h1>I</h1>
    </div>
    <div class="cajaAzul">
        Calculo Diferencial
        <br>
        Codigo 1155101
        <br>
        Creditos 4
        <br>
        HT 4
        <br>

        <div class="sombra">
            <br>
            <a href="https://drive.google.com/file/d/1njk0DXiI8j-ZX1Nx8pXK-qJsBILRkcgs/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaAmarilla">
        Matematicas Discretas
        <br>
        Codigo 1155102
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <br>
            <a href="https://drive.google.com/file/d/1Kl63FLa3K4U0QxeUXlUEtLEe6rRNRVKK/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>
    </div>

    <div class="cajaAmarilla">
        Fundamentos de Programacion
        <br>
        Codigo 1155104
        <br>
        Creditos 3
        <br>
        HT 4
        <div class="sombra">
            <br>
            <a href="https://drive.google.com/file/d/1Q1wUNlaKKn8Wwgk5Yx1HVks7WoFBsEby/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    </div>

    <div class="cajaAmarilla">
        Intro Ing de Sistemas
        <br>
        Codigo 1155105
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <br>
            <a href="https://drive.google.com/file/d/1cGIk_yNvo3U6bh6jyq4IIw12bvq5Jzxx/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaVerde">
        Comunicacion I
        <br>
        Codigo 1155106
        <br>
        Creditos 2
        <br>
        HT 2

        <div class="sombra">
            <br>
            <a href="https://drive.google.com/file/d/1u8y-mj8F-RlN4q4bXjat5K-Q578PdBt9/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>

    </div>

    <div class="cajaAzul">
        Intro a la Vida Universitaria
        <br>
        Codigo 1155108
        <br>
        Creditos 1
        <br>
        HT 1

        <div class="sombra">
            <br>
            <a href="https://drive.google.com/file/d/1Yp3KU6tAeXwHPwHRrQWa18DpAR4lcM5R/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>


    <div class="cajaC">
        <h1>17</h1>
    </div>


    <div class="cajaS">
        <h1>II</h1>
    </div>
    <div class="cajaAzul">
        Calculo Integral
        <br>
        Codigo 1155201
        <br>
        Creditos 4
        <br>
        HT 4
        <div class="sombra">
            <h3>Prerequisito</h3>

            1155101
            <br>
            <a href="#"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaAzul">
        Algebra Lineal
        <br>
        Codigo 1155202
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <br>
            <a href="https://drive.google.com/file/d/1xLoy2zx7kl-RYKuiDW2k9Op0nhfB19qR/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaAzul">
        Fisica Mecanica
        <br>
        Codigo 1155203
        <br>
        Creditos 4
        <br>
        HT 4
        <div class="sombra">
            <h3>Prerequisito</h3>

            1155101
            <br>
            <a href="https://drive.google.com/file/d/1SXSPD_DiIfXQn9U8jG9ZX6onfymXld47/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaAmarilla">
        Programacion Orientada a Objetos I
        <br>
        Codigo 1155204
        <br>
        Creditos 3
        <br>
        HT 4

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155104
            <br>
            <a href="https://drive.google.com/file/d/1bqcfnyy99DojJks9b_qgrCN7cP0n1Mo1/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>

    </div>
    <div class="cajaVerde">
        Comunicacion II
        <br>
        Codigo 1155206
        <br>
        Creditos 2
        <br>
        HT 2

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155106
            <br>
            <a href="https://drive.google.com/file/d/1ATOZyRfEH_VVZMaD6JttBkkuVn3SzKxR/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>

    </div>

    <div class="cajaAmarilla">
        Seminario Integrador I
        <br>
        Codigo 1155109
        <br>
        Creditos 1
        <br>
        HT 1

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155104
            <br>
            <a href="https://drive.google.com/file/d/1LGvsYUt5Hx2JLzOr1G8ee_lPqEbLrqpr/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaC">
        <h1>
            17
        </h1>
    </div>


    <div class="cajaS">
        <h1>III </h1>
    </div>
    <div class="cajaAzul">
        Calculo Vectorial
        <br>
        Codigo 1155301
        <br>
        Creditos 4
        <br>
        HT 4

        <div class="sombra">
            <h3>Prerequisito</h3>
            1155201

            <br>
            <a href="https://drive.google.com/file/d/1L4wmBHA436rxac3UKqiudID1NET69P42/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>


    <div class="cajaAzul">
        Fisica Electromagnetica
        <br>
        Codigo 1155303
        <br>
        Creditos 4
        <br>
        HT 3
        <div class="sombra">
            <h3>Prerequisito</h3>

            1155203
            <br>
            <a href="https://drive.google.com/file/d/1aVDJ_te9i9q1Sgmnu7ooOc6Zt46ptUn0/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaAmarilla">
        Estructura de Datos
        <br>
        Codigo 115304
        <br>
        Creditos 3
        <br>
        HT 4

        <div class="sombra">
            <h3>Prerequisito</h3>
            1155204
            <br>
            <a href="https://drive.google.com/file/d/17i6EKeNYnico172isDoFJX6hQJqs05jp/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaAmarilla">
        Programacion Orientada a Objetos II
        <br>
        Codigo 1155305
        <br>
        Creditos 3
        <br>
        HT 4

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155204
            <br>
            <a href="https://drive.google.com/file/d/1RheK3MInNbp5JQPaqRTK2V_O2q9uxPls/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaVerde">
        Seminario de Investigacion I
        <br>
        Codigo 1155306
        <br>
        Creditos 2
        <br>
        HT 2

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155109
            <br>
            <a href="https://drive.google.com/file/d/1fVRQPIlSKSEDGM8hRB6Nbgu-porUi4vu/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaT"></div>

    <div class="cajaC">
        <h1>16</h1>


    </div>


    <div class="cajaS">
        <h1>IV </h1>
    </div>
    <div class="cajaAzul">
        Ecuaciones Diferenciales
        <br>
        Codigo 1155401
        <br>
        Creditos 4
        <br>
        HT 4

        <div class="sombra">
            <h3>Prerequisito</h3>
            1155301
            <br>
            <a href="https://drive.google.com/file/d/1lMKRNFaXx9hbDXBzGvI0QGw1QCL3h_6m/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaRosa">
        Probabilidad y Estadistica
        <br>
        Codigo 115402
        <br>
        Creditos 3
        <br>
        HT 4

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155102
            <br>
            <a href="https://drive.google.com/file/d/1t22A9w8ljd7ctS2MMmlVKfu8Y9qui04K/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>


    <div class="cajaAzul">
        Ondas y Particulas
        <br>
        Codigo 1155303
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155303
            <br>
            <a href="https://drive.google.com/file/d/1hd_M03gcORmRRuPd4owyQOEJbmYSljb4/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>


    <div class="cajaRosa">
        Analisis de Algoritmos
        <br>
        Codigo 1155404
        <br>
        Creditos 3
        <br>
        HT 4

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155304
            <br>
            <a href="https://drive.google.com/file/d/1RLAne9OnMW1Eh6eAM35w1_poI9dbN80n/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaAmarilla">
        Teoria de la Computacion
        <br>
        Codigo 1155305
        <br>
        Creditos 3
        <br>
        HT 3
        <div class="sombra">
            <h3>Prerequisito</h3>

            1155304
            <br>
            <a href="https://drive.google.com/file/d/1eie50RId-eL7YemjZTcgeOuMKMAfsGM1/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaT"></div>

    <div class="cajaC">
        <h1>
            16
        </h1>
    </div>


    <div class="cajaS">
        <h1> V </h1>
    </div>
    <div class="cajaAzul">
        Analisis Numerico
        <br>
        Codigo 1155501
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155401
            <br>
            <a href="https://drive.google.com/file/d/1I4PiJppWnKbM03NXG5pAxOXotOnVBnHP/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaRosa">
        Investigación de Operaciones
        <br>
        Codigo 1155502
        <br>
        Creditos 3
        <br>
        HT 3
        <div class="sombra">
            <h3>Prerequisito</h3>
            1155402
            <br>
            <a href="https://drive.google.com/file/d/1kouJG2DUMr56DKykd7xIaTP1_d_a5aVS/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>


    <div class="cajaRosa">
        Electronica
        <br>
        Codigo 1155503
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>
            1155403
            <br>
            <a href="https://drive.google.com/file/d/1WCsToBYhIN_ogrfbK_S46mlcgO0KIa--/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>


    <div class="cajaAmarilla">
        Arquitectura de Computadores
        <br>
        Codigo 1155504
        <br>
        Creditos 3
        <br>
        HT 3
        <div class="sombra">
            <h3>Prerequisito</h3>
            <br>
            1155305

            <a href="https://drive.google.com/file/d/1aqlVD0y7nvgdPesaAikoqC9mPJPAMEna/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaVerde">
        Seminario de Investigacion II
        <br>
        Codigo 1155506
        <br>
        Creditos 2
        <br>
        HT 2
        <div class="sombra">
            <h3>Prerequisito</h3>
            1155306
            <br>
            <a href="#"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaHu">
        Electiva Sociohumanistica I
        <br>
        Codigo
        <br>
        Creditos 2
        <br>
        HT 2
    </div>

    <div class="cajaC">
        <h1>
            16
        </h1>
    </div>


    <div class="cajaS">
        <h1> VI </h1>
    </div>
    <div class="cajaAmarilla">
        Sistemas Operativos
        <br>
        Codigo 1155604
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>
            1155504
            <a href="https://drive.google.com/file/d/1V4cWcGWQv58DuuG1oYRvTKZvSYugTU6M/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaAmarilla">
        Bases de Datos
        <br>
        Codigo 1155605
        <br>
        Creditos 3
        <br>
        HT 3
        <div class="sombra">
            <h3>Prerequisito</h3>
            1155304
            <br>
            1155305
            <br>
            <a href="https://drive.google.com/file/d/1H7jBUtHxVqqBM7tZib6B7l8O2IOBXFt9/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>


    <div class="cajaAmarilla">
        Programacion Web
        <br>
        Codigo 1155606
        <br>
        Creditos 3
        <br>
        HT 3
        <div class="sombra">
            <h3>Prerequisito</h3>
            1155305
            <br>
            1155304
            <br>
            <a href="https://drive.google.com/file/d/1zsL1zpI8J3B53AongL6Q_gm6Y-rxC4Ck/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>


    <div class="cajaVerde">
        Costitucion y Civismo
        <br>
        Codigo 1155607
        <br>
        Creditos 2
        <br>
        HT 2

        <div class="sombra">
            <h3>Prerequisito</h3>
            20 Creditos Aprobados

            <a href="https://drive.google.com/file/d/1d0dGMa2GHT0-LUb55Fuyx3Zwov-89raC/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaAmarilla">
        Planeacion Estrategica de TI
        <br>
        Codigo 1155608
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>
            48 Creditos Aprobados
            <a href="https://drive.google.com/file/d/1hPxG9ug3dJ328IOHJ2D7fvPL5ReFQfDl/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaAmarilla">
        Seminario Integrador II
        <br>
        Codigo 1155609
        <br>
        Creditos 2
        <br>
        HT 2

        <div class="sombra">
            <h3>Prerequisito</h3>
            1155304
            75 Creditos Aprobados
            <br>
            <a href="https://drive.google.com/file/d/1D1UnjyDBHT1bMps-dzh0WlqoL-Y4B1BV/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaC">
        <h1>
            16
        </h1>
    </div>

    <div class="cajaS">
        <h1>VII </h1>
    </div>
    <div class="cajaAmarilla">
        Teoria General de las Comunicacaciones
        <br>
        Codigo 1155704
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155604
            <br>
            <a href="https://drive.google.com/file/d/1yPlYoAVeGsNFUWtNEhsgBAJGmYi8IFRj/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaAmarilla">
        Analisis y Diseño de Sistemas
        <br>
        Codigo 1155705
        <br>
        Creditos 3
        <br>
        HT 4
        <div class="sombra">
            <h3>Prerequisito</h3>

            1155605
            <br>
            1155606
            <br>
            <a href="https://drive.google.com/file/d/1nm4iE_zj6XY7IdBNbBfFkp5hMWiOJH6H/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>


    <div class="cajaVerde">
        Seminario de Investigacion III
        <br>
        Codigo 1155706
        <br>
        Creditos 2
        <br>
        HT 2

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155506
            <br>
            <a href="https://drive.google.com/file/d/1RKHKxOqnU_vnufqExD_CKCg2GMExmHMD/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>


    <div class="cajaVerde">
        Etica Profesional
        <br>
        Codigo 1155707
        <br>
        Creditos 2
        <br>
        HT 2
        <div class="sombra">
            <h3>Prerequisito</h3>
            90 Creditos Aprobados
            <br>
            <a href="https://drive.google.com/file/d/1TC23T8L2oho1p3zzxbC3obRSgo3txyye/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaAmarilla">
        Administracion de Proyectos Informaticos
        <br>
        Codigo 1155708
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>
            1155608
            <br>
            <a href="https://drive.google.com/file/d/1EJ-bImdiLq_kRXUpqUixUhAkagXLvKSe/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaPro">
        Electiva Profesional I
        <br>
        Codigo
        <br>
        Creditos 3
        <br>
        HT 3
    </div>

    <div class="cajaC">
        <h1>
            17
        </h1>
    </div>


    <div class="cajaS">
        <h1>VIII </h1>
    </div>
    <div class="cajaAmarilla">
        Redes de Computadores
        <br>
        Codigo 1155804
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155704
            <br>
            <a href="https://drive.google.com/file/d/18ba7P7ngcHin6ByV1ijkwioaoLiOJvmR/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaAmarilla">
        Ingenieria de Software
        <br>
        Codigo 1155805
        <br>
        Creditos 3
        <br>
        HT 4
        <div class="sombra">
            <h3>Prerequisito</h3>

            1155705
            <br>
            <a href="https://drive.google.com/file/d/1NzJvSp_C2h_cRv_5yhcFLMYZQK_YKxlq/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>


    <div class="cajaAmarilla">
        Formulacion de Proyectos Informaticos
        <br>
        Codigo 1155808
        <br>
        Creditos 3
        <br>
        HT 3

        <div class="sombra">
            <h3>Prerequisito</h3>

            1155708
            <br>
            <a href="https://drive.google.com/file/d/1qyRexG0RAXIIXyzNX6Bps76XkN9lku2p/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>


    <div class="cajaAmarilla">
        Seminario Integrador III
        <br>
        Codigo 1155809
        <br>
        Creditos 2
        <br>
        HT 2
        <div class="sombra">
            <h3>Prerequisito</h3>

            1155609
            <br>
            1155705
            <br>
            <a href="https://drive.google.com/file/d/1AcN_4eF_eYBRv4USO__myvzTWaV0zHfc/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>

    </div>

    <div class="cajaPro">
        Electiva Profesional II
        <br>
        Codigo
        <br>
        Creditos 3
        <br>
        HT 3
    </div>

    <div class="cajaHu">
        Electiva Sociohumanistica II
        <br>
        Codigo
        <br>
        Creditos 2
        <br>
        HT 2
    </div>

    <div class="cajaC">
        <h1>
            17
        </h1>
    </div>

    <div class="cajaS">
        <h1>IX </h1>
    </div>
    <div class="cajaAmarilla">
        Gestion de Tic
        <br>
        Codigo 1155908
        <br>
        Creditos 2
        <br>
        HT 2
        <div class="sombra">
            <h3>Prerequisito</h3>
            1155808
            <br>
            <a href="https://drive.google.com/file/d/1UKbD04yCz7yp7imrpoZKm6-fAoMynDEN/view?usp=sharing"
               target="_blank"> Microcurriculo</a>

        </div>
    </div>

    <div class="cajaAmarilla">
        Practica en Sistemas
        <br>
        Codigo 1155909
        <br>
        Creditos 6
        <br>
        HT 0
        <div class="sombra">
            <h3>Prerequisito</h3>

            130 Creditos Aprobados
            <br>

            <a href="https://drive.google.com/file/d/1mwApyeCqbcwO-ZLpgKbFL4vku3xtUZdv/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>


    <div class="cajaAmarilla">
        Arquitectura de Software
        <br>
        Codigo 1155806
        <br>
        Creditos 3
        <br>
        HT 3
        <div class="sombra">
            <h3>Prerequisito</h3>

            1155805
            <br>
            <a href="https://drive.google.com/file/d/11H5NwoiDYe1YqSNOWihzncWQOAdwTxyk/view?usp=sharing"
               target="_blank"> Microcurriculo</a>
        </div>
    </div>

    <div class="cajaPro">
        Electiva Profesional III
        <br>
        Codigo
        <br>
        Creditos 3
        <br>
        HT 3
    </div>


    <div class="cajaPro">
        Electiva Profesional IV
        <br>
        Codigo
        <br>
        Creditos 3
        <br>
        HT 3
    </div>

    <div class="cajaT"></div>


    <div class="cajaC">
        <h1>
            17
        </h1>
    </div>

    <div class="cajaS">
        <h1> X </h1>
    </div>
    <div class="cajaAmarilla">
        Proyecto de Grado
        <br>
        Codigo 1156009
        <br>
        Creditos 8
        <br>
        HT 0

        <div class="sombra">
            <h3>Prerequisito</h3>
            <br>
            100 Creditos Aprobados
            <br>

        </div>
    </div>
    <div class="cajaHu">
        Electiva Sociohumanistica III
        <br>
        Codigo
        <br>
        Creditos 2
        <br>
        HT 2
    </div>


    <div class="cajaPro">
        Electiva Profesional V
        <br>
        Codigo
        <br>
        Creditos 3
        <br>
        HT 3
    </div>


    <div class="cajaPro">
        Electiva Profesional VI
        <br>
        Codigo
        <br>
        Creditos 3
        <br>
        HT 3
    </div>

    <div class="cajaT"></div>
    <div class="cajaT"></div>


    <div class="cajaC">
        <h1>
            16
        </h1>
    </div>

</section>

<footer th:replace="layout/indexLayout :: footer"></footer>


</body>
</html>